.reviewDetail {
    text-align: left;
    vertical-align: top;
}

.reviewContent {
    max-width: 40vh;
    text-align: right;
    vertical-align: top;
}

.oneReview {
    margin-top: 2em;
    margin-bottom: 2em;
}

.reviewDetal.avatar {
    width: 10vh;
    height: 10vh;
}