.reviewDetail {
    text-align: left;
    vertical-align: middle;
    max-width: 20vw;
    float: left;
}

.reviewContent {
    max-width: 40vw;
    text-align: right;
    vertical-align: top;
    float: right;
}

.oneReview {
    margin-top: 2em;
    margin-bottom: 2em;
}

.reviewerName {
    margin-left: 1em;
    margin-top: 0.5em;
}

.reviewDetail.avatar {
    width: 10vh;
    height: 10vh;
    float: left;
}

.reviewDetail.header {
    float: right;
}